@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}
*:active {
  outline: none !important;
  box-shadow: none !important;
  -webkit-tap-highlight-color: transparent !important; /* Additional property for iOS devices */
}

body {
  @apply flex flex-col items-center overflow-x-hidden;
}

.home-gradient {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}
/* Hide the scrollbar */
.my-custom-scrollbar::-webkit-scrollbar {
  width: 0.5em !important;
  background-color: transparent !important;
}

/* Track */
.my-custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent !important;
}

/* Handle */
.my-custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888 !important;
  border-radius: 0.25em !important;
}

/* Handle on hover */
.my-custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555 !important;
}